Hubstaff/
Telegram/
acpilight/
exercism
firefox
firefox-dev
firefox-dev-dir/
firefox-stable/
shfmt
telegram
tor-browser_en-US/
torbrowser
xbacklight
fehbg
hubstaff
cpplint.py
styleguide
steam.sh
firefox-59.0
n
n-dir/
yarn-v1.6.0
android-platform-tools/
bash-language-server
bazel
cpplint
repo
birdtray
local
