Hubstaff/
Telegram/
acpilight/
exercism
firefox
firefox-dev
firefox-dev-dir/
firefox-stable/
shfmt
telegram
tor-browser_en-US/
torbrowser
xbacklight
fehbg
hubstaff
cpplint.py
styleguide
steam.sh
firefox-59.0
